form {
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Adjust width as needed */
    margin: 0 auto;
  }
  
  form label {
    font-size: 1.1em;
    margin: 10px 0 5px;
    display: block;
  }
  
  form input[type="text"],
  form input[type="number"],
  form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #646cff;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 1em;
    transition: border-color 0.3s ease;
  }
  
  form input[type="text"]:focus,
  form input[type="number"]:focus,
  form input[type="file"]:focus {
    border-color: #535bf2;
    outline: none;
  }
  
  form fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  form fieldset label {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  form fieldset div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  form fieldset input[type="checkbox"] {
    margin-right: 10px;
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #e9eaf8;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
  }
  
  form button[type="submit"]:hover {
    background-color: #535bf2;
  }
  
  form button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  